page-home {

}
.levelState {
  padding: 6px;
  padding-right: 25px;
}
.add-button {
  margin-bottom: 65%;
  background-color: blue;
}
.blue {
  background-color: blue;
}
.cursuve {
  font-family: cursive;
  padding: 2px;
  font-size: x-large;
  font-style: oblique;
  background-color: aliceblue;
}
.alice {
  background-color: aliceblue;
}
