page-add-reservoir {

}
.res-details {
  text-align: -webkit-center;
  font-size: x-large;
  font-family: cursive;
  border-top: 0px;
  color: red;
}
.res-users {
  border-top: 0px;
  text-align: -webkit-center;
  font-size: x-large;
  color: green;
  font-family: cursive;
  margin-top: 23px;
  margin-bottom: 0px;
}
.mail {
  font-family: cursive;
}
.alice {
  background-color: aliceblue;
}
.blue {
  background-color: blue;
}
