page-reservoir-details {

}
.res-name {
  text-align: -webkit-center;
  font-size: x-large;
  font-family: cursive;
}
.label-item {
  font-size: larger;
  font-family: cursive;
  font-weight: bolder;
}
.level {
  font-size: medium;
  font-variant-numeric: oldstyle-nums;
  font-style: italic;
}
.blue {
  background-color: blue;
}
